<%= form_for(@application_version) do |f| %>
  <% if @application_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application_version.errors.count, "error") %> prohibited this application_version from being saved:</h2>

      <ul>
      <% @application_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :application_version %><br />
    <%= f.text_field :application_version %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :ignore_active %>
    <%= f.check_box :ignore_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
