<h1><%= t('general.editing') % "#{@application_version.server.name} - #{@application_version.application.name}" %></h1>

<%= render 'form' %>
<br />
<br />
<%= link_to 'Show', @application_version %> |
<%= link_to 'Back', application_versions_path %>
