<h1><%= t('general.listing') % t('application_versions.application_versions') %></h1>

<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('servers.server') %></th>
    <th><%= t('applications.application') %></th>
    <th><%= t('applications.version') %></th>
    <% if user_signed_in? %>
        <th><%= t('general.tables.actions') %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @application_versions.each do |application| %>
      <tr>
        <td><%= link_to application.server.name, application.server %></td>
        <td><%= link_to application.application.name, application.application %></td>
        <td><%= application.application_version %></td>
        <% if user_signed_in? %>
            <td>
              <%= link_to t('general.edit'), edit_application_version_path(application) %>
              <%= link_to t('general.destroy'), application, method: :delete, data: { confirm: t('general.are_you_sure') } %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), application_versions_path(format: 'csv') %>
</div>

