<h1><%= "#{@application_version.server.name.upcase} - #{@application_version.application.name.upcase}" %></h1>
<div class='model_info'>
  <b><%= t('applications.version') %>:</b>
  <%= @application_version.application_version %><br/>
  <b><%= t('general.last_api_check_at') %>:</b>
  <%= @application_version.last_checked_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.active') %>:</b>
  <%= @application_version.active? ? t('general.yes') : t('general.no') %><br/>
  <b><%= t('general.created_on') %>:</b>
  <%= @application_version.created_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.updated_on') %>:</b>
  <%= @application_version.updated_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), server_path(@application_version.server) %>
<% if user_signed_in? %>
    | <%= link_to t('general.edit'), edit_application_version_path(@application_version) %>
<% end %>
