<div id="footer_menu">
  <ul>
    <li><%= link_to t('api.api_docs'), '/api' %></li>
    <% unless user_signed_in? && User.omniauth_providers && User.omniauth_providers.include?(:auth_man) %>
        <li><%= link_to t('users.local_login'), new_user_session_path %></li>
    <% end %>
  </ul>
</div>