<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t('application.name'), root_path, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && current_user.role?(:admin) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('admin.administration') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= render 'menus/admin' %></li>
          </ul>
        </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('general.views') %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to t('applications.show'), applications_path %></li>
            <li><%= link_to t('databases.databases'), databases_path %></li>
            <li><%= link_to t('servers.show'), servers_path %></li>
            <li class="divider"></li>
            <li><%= link_to t('application_families.application_families'), application_families_path %></li>
            <li><%= link_to t('application_family_applications.application_family_applications'), application_family_applications_path %></li>
            <li><%= link_to t('application_versions.application_versions'), application_versions_path %></li>
            <li class="divider"></li>
            <li><%= link_to t('server_applications.server_applications'), server_applications_path %></li>
            <li><%= link_to t('server_databases.server_databases'), server_databases_path %></li>
            <li><%= link_to t('server_relationships.server_relationships'), server_relationships_path %></li>
          </ul>
        </li>
        <li class="divider-vertical"></li>
        <%= render 'menus/my_account', :app_config => APP_CONFIG, :user => current_user, :my_account_path => user_path, :gravatar_url => current_user.gravatar_url(:size => 20) if user_signed_in? %>
        <% unless user_signed_in? %>
          <% if User.omniauth_providers && User.omniauth_providers.include?(:auth_man) %>
            <li><%= link_to(t('users.login'), user_omniauth_authorize_path(:auth_man)) %></li>
          <% else %>
            <li><%= link_to(t('users.login'), new_user_session_path) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>