<h1><%= t('general.editing') % t('general.my_account') %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= resource.email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="field">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %>&nbsp;<i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, :autocomplete => 'off' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :time_zone %>
    <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s %>
  </div>

  <div class="field">
    <%= f.label :token_authentication_key %><br />
    <div class="token"><%= resource.authentication_token.blank? ? t('users.empty_token') : resource.authentication_token %></div>
    <%= link_to t('users.generate_token'), token_authentications_path(:user_id => resource.id, :format => :js),
                :method => :post, :remote => true, :id => t('users.generate_token_id') %>
    <%= link_to t('users.delete_token'), token_authentication_path(resource, :format => :js),
                :method => :delete, :remote => true, :id => t('users.delete_token_id') %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Back', :back %>
