<h1><%= t('general.editing') % "#{@server_relationship.server_primary.name} - #{@server_relationship.server_secondary.name}" %></h1>

<%= render 'form' %>
<br />
<br />
<%= link_to 'Show', @server_relationship %> |
<%= link_to 'Back', server_relationships_path %>
