<h1><%= t('general.listing') % t('server_relationships.server_relationships') %>
  <span class='actions'>
        <% if user_signed_in? %>
          <%= link_to 'New', new_server_relationship_path, :id => 'new_server_link' %>
        <% end  %>
    </span>
</h1>

<table id='index_table' class='data_table'>
  <thead>
    <tr>
      <th><%= t('server_relationships.primary_server') %></th>
      <th><%= t('server_relationships.secondary_server') %></th>
      <th><%= t('server_relationships.port') %></th>
      <th><%= t('general.tables.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @server_relationships.each do |server_relationship| %>
    <tr>
      <td><%= server_relationship.server_primary %></td>
      <td><%= server_relationship.server_secondary %></td>
      <td><%= server_relationship.port %></td>
      <td>
        <%= link_to t('general.show'), server_relationship_path(server_relationship) %>
        <% if user_signed_in? %>
        <%= link_to t('general.edit'), edit_server_relationship_path(server_relationship) %>
        <%= link_to t('general.destroy'), server_relationship, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), server_relationships_path(format: 'csv') %>
</div>
