<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('applications.type') %></th>
    <th><%= t('servers.servers') %></th>
    <% if user_signed_in? %>
        <th><%= t('general.tables.actions') %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% applications.each do |application| %>
      <tr>
        <td><%= link_to application.name, application %></td>
        <td><%= application.app_type %></td>
        <td><%= application.servers.count %></td>
        <% if user_signed_in? %>
            <td>
              <%= link_to t('general.edit'), edit_application_path(application) %>
              <%= link_to t('general.destroy'), application, method: :delete, data: { confirm: t('general.are_you_sure') } %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>