<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, t('errors.error')) %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :app_type %><br />
    <%= f.text_field :app_type %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :version_command %><br />
    <%= f.text_area :version_command %>
  </div>
  <div class="field">
    <%= f.label :sends_emails %><br />
    <%= f.check_box :sends_emails %>
  </div>
  <div class="field">
    <%= f.label :major_application %><br />
    <%= f.check_box :major_application %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :ignore_active %>
    <%= f.check_box :ignore_active %>
  </div>
  <div class="field">
    <%= f.label :servers %><br />
    <%= f.select :server_ids, @servers.collect {|x| ["#{x.name}", x.id]}, {}, :multiple => true %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
