<h1><%= t('general.editing') % t('applications.applications') %></h1>

<%= render 'form' %>
<br />
<br />
<%= link_to t('general.show'), @application %> |
<%= link_to t('general.back'), applications_path %>
