<h1><%= t('general.listing') % t('applications.applications') %>
  <span class='actions'>
        <% if user_signed_in? %>
          <%= link_to 'New', new_application_path(@application), :id => t('applications.new_application_link') %>
        <% end  %>
    </span>
</h1>

<%= render 'applications/applications', :applications => @applications %>

<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), applications_path(format: 'csv') %>
</div>
