<h1><%= @application.name.upcase %></h1>
<div class='model_info'>
  <b><%= t('applications.type') %>:</b>
  <%= @application.app_type %><br/>
  <b><%= t('general.last_api_check_at') %>:</b>
  <%= @application.last_checked_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.active') %>:</b>
  <%= @application.active? ? t('general.yes') : t('general.no') %><br/>
  <b><%= t('general.created_by') %>:</b>
  <%= @application.user.email %><br/>
  <b><%= t('general.created_on') %>:</b>
  <%= @application.created_at.to_formatted_s(:long_ordinal) %><br/><br/>
  <b><%= 'Attributes:' %></b>
  <div id='application_attributes'>
    <%= t('applications.version_command') %>:
    <%= @application.version_command ? @application.version_command : t('general.not_applicable ') %><br/>
    <%= t('applications.path') %>:
    <%= @application.path ? @application.path : t('general.not_applicable ') %><br/>
    <%= t('applications.sends_emails') %>:
    <%= @application.sends_emails ? t('general.yes') : t('general.no') %><br/>
    <%= t('applications.major_application') %>:
    <%= @application.major_application? ? t('general.yes') : t('general.no') %><br/>
  </div><br/><br/><br/>
  <h3><%= t('servers.servers') %>:</h3>
  <%= render 'servers/servers', :servers => @application.servers %>
  <br />
  <br />
  <h3><%= t('application_families.application_families') %></h3>
  <%= render 'application_families/application_families', :application_families => @application.application_families %>
</div>
<br/><br/><br/>
<%= link_to t('general.back'), applications_path %>
<% if user_signed_in? %>
    | <%= link_to t('general.edit'), edit_application_path(@application) %>
<% end %>