<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('applications.applications') %></th>
    <% if user_signed_in? %>
        <th><%= t('general.tables.actions') %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% application_families.each do |application_family| %>
      <tr>
        <td><%= link_to application_family.name, application_family %></td>
        <td><%= application_family.applications.count %></td>
        <% if user_signed_in? %>
            <td>
              <%= link_to t('general.edit'), edit_application_family_path(application_family) %>
              <%= link_to t('general.destroy'), application_family, method: :delete, data: { confirm: t('general.are_you_sure') } %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>