<%= form_for(@application_family) do |f| %>
  <% if @application_family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application_family.errors.count, t('errors.error')) %> prohibited this application family from being saved:</h2>

      <ul>
      <% @application_family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :ignore_active %>
    <%= f.check_box :ignore_active %>
  </div>
  <div class="field">
    <%= f.label :applications %><br />
    <%= f.select :application_ids, Application.order(:name).collect {|x| ["#{x.name}", x.id]}, {}, :multiple => true %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
