<h1><%= t('general.editing') % t('application_families.application_family') %></h1>

<%= render 'form' %>
<br />
<br />
<%= link_to t('general.show'), @application_family %> |
<%= link_to t('general.back'), application_families_path %>
