<h1><%= t('general.listing') % t('application_families.application_families') %>
  <span class='actions'>
        <% if user_signed_in? %>
          <%= link_to 'New', new_application_family_path(@application_family), :id => t('application_families.new_application_family_link') %>
        <% end  %>
    </span>
</h1>
<%= render 'application_families/application_families', :application_families => @application_families %>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), application_families_path(format: 'csv') %>
</div>
