<h1><%= @application_family.name.upcase %></h1>
<div class='model_info'>
  <b><%= t('general.active') %>:</b>
  <%= @application_family.active? ? t('general.yes') : t('general.no') %><br/>
  <b><%= t('general.created_by') %>:</b>
  <%= @application_family.user ? @application_family.user.email : t('general.not_applicable') %><br/>
  <b><%= t('general.created_on') %>:</b>
  <%= @application_family.created_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.last_api_check_at') %>:</b>
  <%= @application_family.last_checked_at.to_formatted_s(:long_ordinal) %><br/><br />
  <h3><%= t('applications.applications') %>:</h3>
  <%= render 'applications/applications', :applications => @application_family.applications %>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), application_families_path %>
<% if user_signed_in? %>
    | <%= link_to t('general.edit'), edit_application_family_path(@application_family) %>
<% end %>
