<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('applications.applications') %></th>
    <% if user_signed_in? %>
        <th><%= t('general.tables.actions') %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% servers.each do |server| %>
      <% if server.active %>
          <tr>
            <td><%= link_to server.name, server %></td>
            <td><%= server.applications.count %></td>
            <% if user_signed_in? %>
                <td>
                  <%= link_to t('general.edit'), edit_server_path(server) %>
                  <%= link_to t('general.destroy'), server, method: :delete, data: { confirm: t('general.are_you_sure')} %>
                </td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>