<h1><%= t('general.listing') % t('servers.servers') %>
    <span class='actions'>
        <% if user_signed_in? %>
          <%= link_to 'New', new_server_path, :id => t('servers.new_server_link') %>
        <% end  %>
    </span>
</h1>
<%= render 'servers/servers', :servers => @servers %>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), servers_path(format: 'csv') %>
</div>

