<h1><%= @server.name.upcase %></h1>
<div class='model_info'>
  <b><%= t('general.last_api_check_at') %>:</b>
  <%= @server.last_checked_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.active') %>:</b>
  <%= @server.active? ? t('general.yes') : t('general.no') %><br/>
  <b><%= t('general.created_by') %>:</b>
  <%= @server.user && @server.user.email ? @server.user.email : t('general.not_applicable')  %><br/>
  <b><%= t('general.created_on') %>:</b>
  <%= @server.created_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
  <b><%= t('applications.applications') %>:</b><br/>
  <table id='index_table' class='data_table'>
    <thead>
    <tr>
      <th><%= t('applications.application') %></th>
      <th><%= t('applications.version') %></th>
    </tr>
    </thead>
    <tbody>
    <% @server.server_applications.each do |server_application| %>
        <tr>
          <td><%= link_to server_application.application.name, server_application.application %></td>
          <td><%= link_to (server_application.application_version.application_version ? server_application.application_version.application_version : t('general.not_applicable')), server_application.application_version %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), servers_path %>
<% if user_signed_in? %>
    | <%= link_to t('general.edit'), edit_server_path(@server) %>
<% end %>
