<h1><%= t('general.your_account') %></h1>

<%= render 'account/account', :gravatar_url => @user.gravatar_url, :user => @user %>

<strong><%= t('users.roles') %>:</strong>
<ul>
  <% @user.roles.each do |r| %>
      <li><%= r.name %></li>
  <% end %>
</ul>

<strong><%= t('users.token_authentication_key') %>:</strong>
<%= @user.authentication_token %>
<br />
<br />
<%= link_to t('general.edit'), edit_user_registration_path %>