// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin_pages {
  width: 100%;
  border-collapse:collapse;
  padding:3px 7px 2px 7px;
  text-align:center;
}

.admin_pages thead tr th {
  padding:3px 7px 2px 7px;
}

.admin_pages tbody tr td {
  padding:3px 7px 2px 7px;
}

.model_info #user_attributes {
  width:50%;
  border-collapse:collapse;
}

.model_info #user_attributes td
{
  font-size:1em;
  border: 1px solid black;
  padding:3px 7px 2px 7px;
}