<%= form_for(@database) do |f| %>
    <% if @database.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@database.errors.count, "error") %> prohibited this database from being saved:</h2>

          <ul>
            <% @database.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :dbms, t('databases.dbms') %><br />
      <%= f.text_field :dbms %>
    </div>
    <div class="field">
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>
    <div class="field">
      <%= f.label :ignore_active %>
      <%= f.check_box :ignore_active %>
    </div>
    <div class="field">
      <%= f.label :application %><br />
      <%= f.collection_select :application_id, Application.order(:name),:id,:name, { :include_blank => true} %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
