<h1><%= t('general.listing') % t('databases.databases') %>
  <span class='actions'>
        <% if user_signed_in? %>
          <%= link_to 'New', new_database_path, :id => 'new_database_link' %>
        <% end  %>
    </span>
</h1>

<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('databases.name') %></th>
    <th><%= t('databases.dbms') %></th>
    <th><%= t('applications.application') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @databases.each do |database| %>
      <tr>
        <td><%= link_to database.name, database %></td>
        <td><%= database.dbms %></td>
        <td><%= link_to(database.application.name, database.application) if database.application %></td>
        <td>
          <% if user_signed_in? %>
              <%= link_to t('general.edit'), edit_database_path(database) %>
              <%= link_to t('general.destroy'), database, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), databases_path(format: 'csv') %>
</div>
