<%= form_for(@server_application) do |f| %>
  <% if @server_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server_application.errors.count, "error") %> prohibited this server_application from being saved:</h2>

      <ul>
      <% @server_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :application %><br />
    <%= f.collection_select :application_id, Application.order(:name),:id,:name %>
  </div>
  <div class="field">
    <%= f.label :server %><br />
    <%= f.collection_select :server_id, Server.order(:name),:id,:name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :ignore_active %>
    <%= f.check_box :ignore_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
