<h1><%= t('general.editing') % "#{@server_application.server.name} - #{@server_application.application.name}" %></h1>

<%= render 'form' %>
<br />
<br />
<%= link_to 'Show', @server_application %> |
<%= link_to 'Back', server_applications_path %>
