<h1><%= t('general.listing') % t('server_applications.server_applications') %>
  <span class='actions'>
        <% if user_signed_in? %>
          <%= link_to 'New', new_server_application_path(@application), :id => 'new_server_application_link' %>
        <% end  %>
    </span>
</h1>

<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('applications.application') %></th>
    <th><%= t('servers.server') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @server_applications.each do |server_application| %>
      <tr>
        <td><%= link_to server_application.application.name, server_application.application %></td>
        <td><%= link_to server_application.server.name, server_application.server %></td>
        <td>
          <%= link_to t('general.show'), server_application_path(server_application) %>
          <% if user_signed_in? %>
          <%= link_to t('general.edit'), edit_server_application_path(server_application) %>
          <%= link_to t('general.destroy'), server_application, method: :delete, data: { confirm: t('general.are_you_sure') } %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), server_applications_path(format: 'csv') %>
</div>

