<h1><%= "#{@server_application.server.name.upcase} - #{@server_application.application.name.upcase}" %></h1>
<div class='model_info'>
  <b><%= t('server_applications.description') %>:</b>
  <%= @server_application.description.nil? || @server_application.description.empty? ? t('general.not_applicable') : @server_application.description %><br/>
  <br />
  <b><%= t('general.active') %>:</b>
  <%= @server_application.active? ? t('general.yes') : t('general.no') %><br/>
  <b><%= t('general.created_on') %>:</b>
  <%= @server_application.created_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.last_api_check_at') %>:</b>
  <%= @server_application.last_checked_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.updated_on') %>:</b>
  <%= @server_application.updated_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), :back %>
<% if user_signed_in? %>
    | <%= link_to t('general.edit'), edit_server_application_path(@server_application) %>
<% end %>
