<%= form_for(@user, :url => admin_user_path) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, t('errors.error')) %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %>
    </div>
    <div class="field"><%= f.label :password, "New password" %><br />
      <%= f.password_field :password, :autofocus => true %></div>
    <div class="field"><%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation %></div>
    <div class="field">
      <%= f.label :token_authentication_key %><br />
      <div class="token"><%= @user.authentication_token.blank? ? t('users.empty_token') : @user.authentication_token %></div>
      <%= link_to t('users.generate_token'), token_authentications_path(:user_id => @user.id, :format => :js),
                  :method => :post, :remote => true, :id => t('users.generate_token_id') %>
      <%= link_to t('users.delete_token'), token_authentication_path(@user, :format => :js),
                  :method => :delete, :remote => true, :id => t('users.delete_token_id') %>
    </div>
    <div class="field">
      <%= f.label :roles %><br />
      <% for role in Role.all %>
          <%= check_box_tag 'user[role_ids][]', role.id,
                            @user.role_ids.include?(role.id), :id => dom_id(role) %>
          <%= label_tag dom_id(role), role.name, :class => t('general.check_box_label') %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
