<h1><%= t('general.editing') % t('users.users') %></h1>

<%= render 'form' %>
<br />
<br />

<%= link_to t('general.show'), admin_user_path(@user) %> |
<%= link_to t('general.back'), admin_users_path %>