<h1><%= @user.email ? @user.email.upcase : @user.unconfirmed_email.upcase %></h1>
<div class='model_info'>
  <h3><%= t('users.attributes') %>:</h3>
  <table id='user_attributes'>
    <tr>
      <td><%= t('users.confirmed_on') %></td>
      <td><%= @user.confirmed_at.to_formatted_s(:long_ordinal) %></td>
    </tr>
    <tr>
      <td><%= t('users.token_authentication_key') %></td>
      <td><%= @user.authentication_token %></td>
    </tr>
    <tr>
      <td><%= t('users.administrator') %></td>
      <td><%= @user.role?(:admin) ? t('general.yes') : t('general.no') %></td>
    </tr>
  </table>

  <br/><br/><br/>
  <b><%= t('servers.servers') %>:</b><br/>
  <% if @user.servers.count == 0 %>
      <i><%= t('users.no_servers') %></i>
  <% else %>
      <% @user.servers.each do |s| %>
          <%= link_to s.name, s %><br/>
      <% end %>
  <% end %>
  </b><br/><br/>
  <b><%= t('applications.applications') %>:</b><br/>
  <% if @user.applications.count == 0 %>
      <i><%= t('users.no_applications') %></i>
  <% else %>
      <% @user.applications.each do |a| %>
          <%= link_to a.name, a %><br/>
      <% end %>
  <% end %>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), admin_users_path %>
