<h1><%= t('general.listing') % t('admin.administration_pages') %></h1>

<table class="admin_pages">
  <thead>
  <tr>
    <th>Page</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% @admin_pages.each do |k, page| %>
      <tr>
        <td><%= link_to page[:title], page[:path] %></td>
        <td><%= page[:description] %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/><br/><br/>

<%= link_to t('general.back'), root_path %>