<%= form_for(@application_family_application) do |f| %>
    <% if @application_family_application.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@application_family_application.errors.count, "error") %> prohibited this application family application from being saved:</h2>

          <ul>
            <% @application_family_application.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :application %><br />
      <%= f.collection_select :application_id, Application.order(:name),:id,:name %>
    </div>
    <div class="field">
      <%= f.label :application_family %><br />
      <%= f.collection_select :application_family_id, ApplicationFamily.order(:name),:id,:name %>
    </div>
    <div class="field">
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>
    <div class="field">
      <%= f.label :ignore_active %>
      <%= f.check_box :ignore_active %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
