<h1><%= t('general.editing') % t('application_family_applications.application_family_application') %></h1>

<%= render 'form' %>
<br />
<br />
<%= link_to 'Show', @application_family_application %> |
<%= link_to 'Back', application_family_applications_path %>
