<h1><%= t('general.listing') % t('application_family_applications.application_family_applications') %>
  <span class='actions'>
        <% if user_signed_in? %>
          <%= link_to 'New', new_application_family_application_path, :id => 'new_application_family_applications_link' %>
        <% end  %>
    </span>
</h1>
<%= render 'application_family_applications/application_family_applications', :application_family_applications => @application_family_applications %>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), application_family_applications_path(format: 'csv') %>
</div>
