<h1><%= t('general.editing') % t('server_databases.server_database') %></h1>

<%= render 'form' %>
<br />
<br />
<%= link_to 'Show', @server_database %> |
<%= link_to 'Back', server_databases_path %>
