<h1><%= t('general.listing') % t('server_databases.server_databases') %>
  <span class='actions'>
        <% if user_signed_in? %>
          <%= link_to 'New', new_server_database_path, :id => 'new_server_database' %>
        <% end  %>
    </span>
</h1>

<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('servers.server') %></th>
    <th><%= t('databases.database') %></th>
    <th><%= t('databases.dbms') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @server_databases.each do |server_database| %>
      <tr>
        <td><%= link_to server_database.server.name, server_database.server %></td>
        <td><%= link_to server_database.database.name, server_database.database %></td>
        <td><%= server_database.database.dbms %></td>
        <td>
          <%= link_to t('general.show'), server_database_path(server_database) %>
          <% if user_signed_in? %>
              <%= link_to t('general.edit'), edit_server_database_path(server_database) %>
              <%= link_to t('general.destroy'), server_database, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), server_databases_path(format: 'csv') %>
</div>
